:root {
    color-scheme: light dark;

    --text-color: light-dark(rgb(45, 45, 45), rgb(211, 211, 211));
    --elem-neutral: rgba(103, 103, 103, 0.265);

    --text-color-alt: light-dark(rgb(114, 114, 114), rgb(109, 109, 109));
    --text-color-active: light-dark(rgb(152, 152, 152), rgb(86, 86, 86));

    color: var(--text-color);
}

:not(.theme-loaded *) {
    transition: none !important;
}

body {
    background-color: light-dark(#f9f5f3, rgb(18, 18, 18));
}

code:not(pre > code) {
    background-color: var(--elem-neutral);
}

hr {
    background-color: var(--elem-neutral);
}

mark {
    color: var(--text-color);
    background-color: var(--elem-neutral);
}

blockquote {
    background-color: var(--elem-neutral);
}

a:hover {
    color: var(--text-color-alt);
}

a:active {
    color: var(--text-color-active);
}

th,
td {
    border-color: var(--elem-neutral);
}

a {
    transition: color 100ms ease-out;
}

.card {
    background-color: light-dark(rgb(241, 241, 241), rgb(0, 0, 0)) !important; // for astro-code
    border: 1px solid var(--elem-neutral);
    border-radius: 10px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    padding: 1rem;
}

.card-hover {
    transition: box-shadow ease-out 100ms;

    &:hover {
        box-shadow: 0 4px 30px light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    }
}

.hover-filter {
    &:hover {
        // filter: light-dark(brightness(300%), brightness(60%));
        // FIXME
    }

    transition: filter 100ms ease-out;
}
