// https://github.com/Gogh-Co/Gogh

:root {
    /* Gogh colorscheme: Tomorrow */
    --ts-black: #000000;
    --ts-red: #c82828;
    --ts-green: #718c00;
    --ts-yellow: #eab700;
    --ts-blue: #4171ae;
    --ts-magenta: #8959a8;
    --ts-cyan: #3e999f;
    --ts-white: #fffefe;
    --ts-bright-black: #000000;
    --ts-bright-red: #c82828;
    --ts-bright-green: #708b00;
    --ts-bright-yellow: #e9b600;
    --ts-bright-blue: #4170ae;
    --ts-bright-magenta: #8958a7;
    --ts-bright-cyan: #3d999f;
    --ts-bright-white: #fffefe;
    --ts-background: #ffffff;
    --ts-foreground: #4d4d4c;

    &.dark {
        /* Gogh colorscheme: Tomorrow Night */
        --ts-black: #000000;
        --ts-red: #cc6666;
        --ts-green: #b5bd68;
        --ts-yellow: #f0c674;
        --ts-blue: #81a2be;
        --ts-magenta: #b293bb;
        --ts-cyan: #8abeb7;
        --ts-white: #fffefe;
        --ts-bright-black: #808080;
        --ts-bright-red: #cc6666;
        --ts-bright-green: #b5bd68;
        --ts-bright-yellow: #f0c574;
        --ts-bright-blue: #80a1bd;
        --ts-bright-magenta: #b294ba;
        --ts-bright-cyan: #8abdb6;
        --ts-bright-white: #fffefe;
        --ts-background: #1d1f21;
        --ts-foreground: #c5c8c6;
    }
}

@black: var(--ts-black);
@red: var(--ts-red);
@green: var(--ts-green);
@yellow: var(--ts-yellow);
@blue: var(--ts-blue);
@magenta: var(--ts-magenta);
@cyan: var(--ts-cyan);
@white: var(--ts-white);
@bright_black: var(--ts-bright-black);
@bright_red: var(--ts-bright-red);
@bright_green: var(--ts-bright-green);
@bright_yellow: var(--ts-bright-yellow);
@bright_blue: var(--ts-bright-blue);
@bright_magenta: var(--ts-bright-magenta);
@bright_cyan: var(--ts-bright-cyan);
@bright_white: var(--ts-bright-white);

.tree-sitter-code {
    color: var(--ts-foreground);

    & .ts-comment {
        color: @bright_black;
        font-style: italic;
    }

    & .ts-type {
        color: @yellow;
    }

    & .ts-type.ts-builtin {
        font-style: italic;
    }

    & .ts-attribute {
        color: @bright_yellow;
    }

    & .ts-constant {
        color: @bright_red;
    }

    & .ts-constructor {
        color: @bright_blue;
    }

    & .ts-function {
        color: @blue;
    }

    & .ts-function.ts-macro {
        color: @bright_blue;
    }

    & .ts-function.ts-builtin {
        color: @bright_blue;
    }

    & .ts-keyword {
        color: @bright_magenta;
    }

    & .ts-module {
        color: @red;
    }

    & .ts-number {
        color: @bright_red;
    }

    & .ts-operator {
        color: @bright_magenta;
    }

    & .ts-punctuation {
        color: @bright_black;
    }

    & .ts-string.ts-special {
        color: @bright_green;
    }

    & .ts-string {
        color: @green;
    }

    & .ts-tag {
        color: @yellow;
    }

    & .ts-variable {
        color: @bright_red;
    }

    & .ts-variable.ts-builtin {
        color: @bright_red;
    }

    & .ts-variable.ts-member {
        color: inherit; // ok?
    }
}
