---
import Base from "../../layouts/Base.astro";
import Centered from "../../components/Centered.astro";

import { highlight } from "neohome-rs";

const webringSite = "ayats";
const webringURL = "https://nixwebr.ing";
---

<Base
    seo={{
        title: "Experiments",
    }}
>
    <Centered class:list={["test"]}>
        <div class="box">
            Some experiments

            <div id="my-canvas"></div>
        </div>
    </Centered>
</Base>

<script>
    import * as THREE from "three";

    const width = 600;
    const height = 600;

    // init

    const camera = new THREE.PerspectiveCamera(70, width / height, 0.01, 10);
    camera.position.z = 1;

    const scene = new THREE.Scene();

    const geometry = new THREE.BoxGeometry(0.2, 0.2, 0.2);
    const material = new THREE.MeshNormalMaterial();

    const mesh = new THREE.Mesh(geometry, material);
    scene.add(mesh);

    const renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setSize(width, height);
    renderer.setAnimationLoop(animate);
    // document.body.appendChild(renderer.domElement);
    const elem = document.getElementById("my-canvas");
    if (elem !== null) {
        elem.appendChild(renderer.domElement);
    }

    // animation

    function animate(time: number) {
        mesh.rotation.x = time / 2000;
        mesh.rotation.y = time / 1000;

        renderer.render(scene, camera);
    }
</script>

<style>
    .box {
        box-sizing: border-box;
        padding: 20px;
        border: 4px solid rgb(68, 68, 68);
        border-radius: 10px;
        gap: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #my-canvas {
        width: 600px;
        height: 600px;
        background-color: black;
    }
</style>
