---
import Base from "../../layouts/Base.astro";
import Centered from "../../components/Centered.astro";

import { highlight } from "neohome-rs";

const webringSite = "ayats";
const webringURL = "https://nixwebr.ing";
---

<Base
    seo={{
        title: "Experiments",
    }}
>
    <Centered class:list={["test"]}>
        <div class="box">
            Some experiments

            <div id="my-canvas"></div>
        </div>
    </Centered>
</Base>

<script src="../../scripts/shader.ts"></script>

<style>
    .box {
        box-sizing: border-box;
        padding: 20px;
        border: 4px solid rgb(68, 68, 68);
        border-radius: 10px;
        gap: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #my-canvas {
        width: 600px;
        height: 600px;
        background-color: black;
    }
</style>
