---
export interface Props {
    name: string;
    shortDesc: string;
    longDesc: string;
    link: string;
}
---

<div class="card">
    <a href={Astro.props.link}>
        <h2>
            {Astro.props.name}
        </h2>

        <p>{Astro.props.shortDesc}</p>
    </a>
</div>

<style lang="less"></style>
