---
export interface Props {
    name: string;
    // shortDesc: string;
    longDesc: string;
    link: string;
}

import { IconExternalLink } from "@tabler/icons-react";
---

<a class="card" href={Astro.props.link}>
    <div class="flex items-center place-content-between">
        <h2>{Astro.props.name}</h2>
        <IconExternalLink/>
    </div>

    <!-- <span class="subtitle">{Astro.props.shortDesc}</span> -->
    <p class="pt-2">{Astro.props.longDesc}</p>
</a>

<style lang="less">
    a {
        display: block;
    }

    .subtitle {
        color: var(--text-color-alt);
        font-weight: 500;
    }
</style>
